.analysis_modal_background {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  transition:
    visibility 0s linear 0.5s,
    opacity 0.5s linear;
  cursor: pointer;
}

.analysis_modal {
  position: relative;
  height: 40%;
  width: 60%;
  border-radius: 12px;
  padding: 20px;
  background-color: rgb(174, 204, 228);
  cursor: default;
}

.analysis_modal__close_btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.analysis_modal__close_btn:hover svg {
  opacity: 60%;
  transition: opacity 0.4s ease-out;
}

.analysis_modal__title {
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 1px dotted rgb(40, 40, 40);
}

.analysis_modal__recommended_fixes {
  margin-top: 20px;
}
